{% extends 'interface/layout.html' %}
{% block title%} Về chúng tôi - Brownish Clothing{% endblock %}
{% block meta%}
    <meta name="description" content="Bronish Clothing là thương hiệu Việt Nam chuyên kinh doanh quần áo, thời trang bền vững với chất liệu hữu cơ hoặc tái chế từ rác thải khó phân hủy.">
    <!--Đây là đường link gốc của chính website này.  -->
    <meta property="og:type" content="home">
    <meta property="og:title" content="Brownish Clothing - Quần áo thời trang bền vững, bảo vệ môi trường - Brownish Clothing">
    <meta property="og:description" content="Bronish Clothing là thương hiệu Việt Nam chuyên kinh doanh quần áo, thời trang bền vững với chất liệu hữu cơ hoặc tái chế từ rác thải khó phân hủy.">
    <meta name="twitter:title" content="Brownish Clothing - Quần áo thời trang bền vững, bảo vệ môi trường - Brownish Clothing">
    <meta name="twitter:description" content="Bronish Clothing là thương hiệu Việt Nam chuyên kinh doanh quần áo, thời trang bền vững với chất liệu hữu cơ hoặc tái chế từ rác thải khó phân hủy.">
    {% endblock %}
{% block body %}
    <div id="page-type" style="display:none">aboutus</div>
    <section class="about-us-information">
        <h3>Câu chuyện thương hiệu </h3>
        <b>Xin chào các Nhà Thám Hiểm Trò Chơi!
            Chào mừng đến với Game On - Nơi Mà Trò Chơi Trở Nên Huyền Bí!</b>
            <br>
            <p>Ở Game On, chúng tôi không chỉ bán các trò chơi, mà chúng tôi còn tạo ra những trải nghiệm độc đáo và kích thích sự sáng tạo. Bạn không chỉ là người mua hàng, mà là nhà phiêu lưu trên con đường không gian giải trí của chúng tôi. Trước hết hãy tìm hiểu câu chuyện hình thành thương hiệu của chúng tôi.
                Năm 2017, trong một lần đi du lịch nước ngoài, nhóm chúng tôi ,hội những người yêu thích board game, đã có dịp trải nghiệm những trò chơi board game mới lạ và hấp dẫn. Chúng tôi nhận thấy rằng board game là một hình thức giải trí lành mạnh, giúp gắn kết mọi người với nhau.
                 Chúng tôi cũng nhận thấy rằng thị trường board game ở Việt Nam còn rất tiềm năng, nhưng lại chưa có một cửa hàng online chuyên bán board game.
                Với niềm đam mê board game và mong muốn mang lại cho mọi người cơ hội trải nghiệm những trò chơi board game thú vị,chúng tôi đã quyết định thành lập thương hiệu Game On.
            </p>
    </section>
    <section class="about-us-information">
        <h3>Tầm nhìn  </h3>
        <p>Tại Game On, chúng tôi hướng đến việc trở thành nguồn cảm hứng và điểm đến hàng đầu cho 
            những người yêu thích trò chơi board game trên toàn thế giới. Tầm nhìn của chúng tôi là xây dựng một cộng đồng đam mê, 
            nơi mọi người không chỉ mua sắm trò chơi mà còn trải nghiệm sự kết nối, sáng tạo và niềm vui trong mỗi chiếc hộp trò chơi.

        </p>
    </section>
    <section class="about-us-information">
        <h3>Sứ mệnh</h3>
        <p>
            Sứ mệnh của chúng tôi là mang lại trải nghiệm trò chơi không giới hạn cho mọi người.
             Chúng tôi cam kết cung cấp những trò chơi board game chất lượng cao, từ những cái tên kinh điển đến những sáng tạo mới,
              để mọi người có thể khám phá, tận hưởng và chia sẻ niềm đam mê trò chơi

        </p>
    </section>
    <section class="about-us-information">
        <h3>Giá trị cốt lõi</h3>
        <p>
            <strong>Đa Dạng và Sáng Tạo</strong>:  Chúng tôi tin rằng sự đa dạng trong trò chơi là chìa khóa để kích thích trí tưởng tượng và 
            tạo ra những trải nghiệm mới. Chúng tôi luôn khuyến khích sự sáng tạo và đổi mới trong mọi khía cạnh của trò chơi. <br><br>
            <strong>Kết Nối Cộng Đồng</strong>:Game On không chỉ là nơi mua sắm, mà là nơi cộng đồng yêu thích trò chơi gặp gỡ, 
            giao lưu và chia sẻ. Chúng tôi tạo ra không gian để những người chơi kết nối và tận hưởng sự hỗ trợ từ cộng đồng rộng lớn của chúng tôi.<br><br>
            <strong>Chất Lượng và Tin Cậy</strong>: : Chúng tôi cam kết cung cấp những trò chơi với chất lượng không gì sánh kịp. Mọi sản phẩm đều trải qua quá trình chọn lọc nghiêm ngặt để đảm bảo sự hài lòng và tin cậy của khách hàng.<br><br>
          
        </p>
    </section>
{% endblock %}

