{% extends 'interface/layout.html' %}
{% load static %}


    {% block title %}{{blog.title}} - Brownish Clothing {% endblock%}
    {% block meta%}
         <!-- Dưới 160 từ, tóm tắt nội dung trang, sử dụng từ khóa chính -->
        <meta name="description" content={{blog.description}}>
        <meta name="robots" content="index, follow">
        <!--Đây là đường link gốc của chính website này.  -->
        <link rel="canonical" href="https://brownish.store/block_view/...">
        <meta property="og:locale" content="vi_VN">
        <meta property="og:site_name" content="Brownish Clothing - Thời trang bền vững thân thiện môi trường">
        <meta property="og:type" content="article">
        <meta property="og:title" content={{blog.title}}>
        <meta property="og:description" content={{blog.description}}>
        <meta property="og:url" content="https://brownish.store/block_view/...">
        <meta property="article:published_time" content={{blog.timestamp}}>
        <meta property="article:modified_time" content={{blog.modified_timestamp}}>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content={{blog.title}}>
        <meta name="twitter:description" content={{blog.description}}>
        <meta name="author" content="Brownish">
        <meta name="twitter:creator" content="@brownishvn">
        <meta name="twitter:site" content="@brownishvn">    
    {% endblock %}
    <link rel="stylesheet" href="{% static 'interface/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:wght@500;900&display=swap" rel="stylesheet">
</head>
{% block body %}
    <!-- home section design -->
    <section class="home-index" style="height: 50vh;">
        <img src="{%static 'interface/images/bg02.png' %}"> 
    </section>

    <section class="viewblog">
        <div class="viewblog-img"><img src="{{blog.image.url}}" alt="Home Image"></div>
        <div class="viewblog-info">
            <h3>{{blog.title}}</h3>
            <p class="viewblog-timestamp">{{blog.timestamp}}</p>
            <p class="viewblog-creator">By: {{blog.creator}}</p>
            <p class="viewblog-descripttion">{{blog.descirptiton}}</p>
            <p class="viewblog-content">{{blog.content}}</p>            
        </div>  
    </section>

    <!-- feature section design -->
    <section>
    
    </section>
    {% comment %} <img src="{% static 'interface/images/logo.png' %}"> {% endcomment %}
    {% comment %} <img src="../images/logo.png"> {% endcomment %}
{% endblock %}
