{% extends "interface/layout.html" %}
{% load static %}

{% block title %}Brownish: Blogs{% endblock %}
    <!-- home section design -->
{% block body %}
    <div id="page-type" style="display:none">blog</div>
    <section class="home">
        <div class="home-img"><img src="{% static 'interface/images/home_image.png' %}" alt="Home Image"></div>
        <div class="home-text">
            <h4>Check what's on your blog!!</h4>
            <h1>Explore latest news about fashion</h1>
            <a href="#" class="btn">Explore now</a>
        </div>
    </section>

    <!-- feature section design -->
    <section>
        <div class="middle-text">
            <h2>Discover more <span>Latest News.</span></h2>
        </div>
    </section>
    <section class="blog-container">
        {% for blog in blogs %}
        
          <div class="block">
            <div>
                <img src="{{blog.image}}">
                <p class="timestamp">{{blog.timestamp}}</p>
                <a href="{% url 'blog_view' blog.pk %}"><p class="title">{{blog.title}}</p></a>
            </div>
          </div>
        
        {% endfor %}
    </section>
{% endblock %}