{% extends 'interface/layout.html' %}
{% load static %}


    {% block title %}{{blog.title}} - Brownish Clothing {% endblock%}
    {% block meta%}
         <!-- Dưới 160 từ, tóm tắt nội dung trang, sử dụng từ khóa chính -->
        <meta name="description" content="{{blog.description}}">
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{blog.title}}">
        <meta property="og:description" content="{{blog.description}}">
        <meta property="article:published_time" content="{% if blog.timestamp %}{{ blog.timestamp|date:"c" }}{% endif %}">
        <meta property="article:modified_time" content="{% if blog.modified_timestamp %}{{ blog.modified_timestamp|date:"c" }}{% endif %}">
        <meta name="twitter:title" content="{{blog.title}}">
        <meta name="twitter:description" content="{{blog.description}}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'interface/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:wght@500;900&display=swap" rel="stylesheet">
</head>
{% block body %}
    <!-- home section design -->
    {% comment %} <section class="home-index" style="height: 50vh;">
        <img src="{%static 'interface/images/bg02.png' %}"> 
    </section> {% endcomment %}

    <section class="viewblog">
        <!-- <div class="viewblog-img"><img src="{{blog.image}}" alt="Home Image"></div> -->
        <div class="viewblog-info">
            <h1>{{blog.title}}</h1>
            <p class="viewblog-timestamp">{{blog.timestamp}}</p>
            <p class="viewblog-creator">By: {{blog.creator}}</p>
            {% comment %} <p class="viewblog-descripttion">{{blog.description}}</p> {% endcomment %}
            <p class="viewblog-content">{{blog.content|safe}}</p>    
            <!-- <h2>{{blog.title1}}</h2>   
            <p class="viewblog-content">{{blog.content1|safe}}</p>
            {% if blog.image_1_url %}     
            <div class="viewblog-img"><img src="{{blog.image_1.url|default:''}}" alt="Home Image"></div>
            {% endif %}
            <h2>{{blog.title2}}</h2>   
            <p class="viewblog-content">{{blog.content2|safe}}</p>   
            {% if blog.image_2_url %}
            <div class="viewblog-img"><img src="{{blog.image_2.url|default:''}}" alt="Home Image"></div>
            {% endif %}
            <h2>{{blog.title3}}</h2>      
            <p class="viewblog-content">{{blog.content3|safe}}</p>   
            {% if blog.image_3_url %}
            <div class="viewblog-img"><img src="{{blog.image_3.url|default:''}}" alt="Home Image"></div>
            {% endif %}
        </div>   -->
    </section>

    <!-- feature section design -->
    <section>
    
    </section>
    {% comment %} <img src="{% static 'interface/images/logo.png' %}"> {% endcomment %}
    {% comment %} <img src="../images/logo.png"> {% endcomment %}
{% endblock %}
