{% extends "interface/layout.html" %}
{% load static %}
{% block title %}
    Brownish Clothing - Quần áo thời trang bền vững, bảo vệ môi trường - Brownish Clothing
{% endblock %}
{% block meta%}
    <meta name="description" content="Bronish Clothing là thương hiệu Việt Nam chuyên kinh doanh quần áo, thời trang bền vững với chất liệu hữu cơ hoặc tái chế từ rác thải khó phân hủy.">
    <!--Đây là đường link gốc của chính website này.  -->
    <meta property="og:type" content="home">
    <meta property="og:title" content="Brownish Clothing - Quần áo thời trang bền vững, bảo vệ môi trường - Brownish Clothing">
    <meta property="og:description" content="Bronish Clothing là thương hiệu Việt Nam chuyên kinh doanh quần áo, thời trang bền vững với chất liệu hữu cơ hoặc tái chế từ rác thải khó phân hủy.">
    <meta name="twitter:title" content="Brownish Clothing - Quần áo thời trang bền vững, bảo vệ môi trường - Brownish Clothing">
    <meta name="twitter:description" content="Bronish Clothing là thương hiệu Việt Nam chuyên kinh doanh quần áo, thời trang bền vững với chất liệu hữu cơ hoặc tái chế từ rác thải khó phân hủy.">
    {% endblock %}

{% block body %}
    <!-- home section design -->
    <div id="page-type" style="display:none">index</div>
    <section class="home-index">
        <div class="slide-list">
            <div class="slide">
                <img src="{% static 'interface/images/bg01.png' %}">
            </div>
            <div class="slide">
                <img src="{% static 'interface/images/bg02.png' %}"> 
            </div>
            <div class="slide">
                <img src="{% static 'interface/images/bg03.png' %}"> 
            </div>
            <div class="slide">
                <img src="{% static 'interface/images/bg04.jpg' %}"> 
            </div>
        </div>
        <div class="slide-buttons">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <ul class="dots">
            <li class="dot-active"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>


    <!-- feature section design -->
    {% comment %} <section class="feature">
        <div class="middle-text">
            <h2>Discover more <span>Good things.</span></h2>
        </div>

        <div class="feature-content">
            <div class="row">
                <div class="main-row">
                    <div class="row-text">
                        <h6>Explore new arrivals</h6>
                        <h3>Give the gift <br> of choice</h3>
                        <a href="#" class="row-btn">Show me all</a>
                    </div>
                    <div class="row-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPDuAEeQAMv_1YaNugodEDSxkUnoVu2Vy3A&usqp=CAU" alt="Blue shirt"></div>
                </div>
            </div>
            <div class="row row2">
                <div class="main-row">
                    <div class="row-text">
                        <h6>Explore new arrivals</h6>
                        <h3>Give the gift <br> of choice</h3>
                        <a href="#" class="row-btn">Show me all</a>
                    </div>
                    <div class="row-img"><img src="https://www.rei.com/media/product/163975" alt="White shirt"></div>
                </div>
            </div>
            <div class="row row3">
                <div class="main-row">
                    <div class="row-text">
                        <h6>Explore new arrivals</h6>
                        <h3>Give the gift <br> of choice</h3>
                        <a href="#" class="row-btn">Show me all</a>
                    </div>
                    <div class="row-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO0HxF2yhPRst9Ge6eiD65F9_kSMX76dG2bQ&usqp=CAU" alt="White shirt"></div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

    <!-- product section design -->
    <section class="product">
        <div class="middle-text">
            <h2>New Arrivals. <span>Best sellers of the month</span></h2>
        </div>

        <div class="product-content">
            {% for product in products %}
            <div class="box">
                <div class="box-img">
                    <a style="height: 100%; width: 100%;" href="{% url 'product_view' product.pk %}"><img src="{{product.image_url}}" alt=""></a>
                </div>
                <div class="box-content">
                    <a href="{% url 'product_view' product.pk %}" class="product_name"><h3>{{product.name}}</h3></a>
                    <h4>{{product.description}}</h4>
                    <div class="inbox">
                        <div>
                            <a href="{% url 'product_view' product.pk %}" class="price">{{product.price}}VND</a>
                        </div>
                        <div class="heart">
                            <i class="ri-thumb-up-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="paginator">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; Trang đầu</a>
            <a href="?page={{products.previous_page_number}}">{{products.previous_page_number}}</a>
        {% endif %}
        <span class="current_page">{{products.number}}</span>
        {% if products.has_next %}
            <a href="?page={{products.next_page_number}}">{{products.next_page_number}}</a>
            <a href="?page={{products.paginator.num_pages}}">Trang cuối &raquo;</a>
        {% endif %}
    </section>
{% endblock  %}