{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bronish Clothing là thương hiệu Việt Nam chuyên kinh doanh quần áo, thời trang bền vững với chất liệu hữu cơ hoặc tái chế từ rác thải khó phân hủy.">
    <meta name="robots" content="index, follow">
    <title>Brownish Clothing - Quần áo thời trang bền vững, bảo vệ môi trường - Brownish Clothing</title>
    <!--Đây là đường link gốc của chính website này.  -->
    <link rel="canonical" href="https://brownish.store/">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="Brownish Clothing - Thời trang bền vững thân thiện môi trường">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Trang chủ - Brownish Clothing">
    <meta property="og:description" content="Bronish Clothing là thương hiệu Việt Nam chuyên kinh doanh quần áo, thời trang bền vững với chất liệu hữu cơ hoặc tái chế từ rác thải khó phân hủy.">
    <meta property="og:url" content="https://brownish.store/">
    <meta property="article:published_time" content="2023-12-06T08:06:00+00:00">
    <meta property="article:modified_time" content="2023-12-08T09:06:00+00:00">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Trang chủ - Brownish Clothing">
    <meta name="twitter:description" content="Bronish Clothing là thương hiệu Việt Nam chuyên kinh doanh quần áo, thời trang bền vững với chất liệu hữu cơ hoặc tái chế từ rác thải khó phân hủy.">
    <meta name="author" content="Brownish">
    <meta name="twitter:creator" content="@brownishvn">
	<meta name="twitter:site" content="@brownishvn">
    <link rel="stylesheet" href="{% static 'interface/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:wght@500;900&display=swap" rel="stylesheet">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VPH3VWS6YT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VPH3VWS6YT');
</script>
<body>
    <!-- header section design -->
    <header>
        <a href="{% url 'index' %}"><img src="{% static 'interface/images/logo.png' %}" class="logo" alt=""></a>
        <ul class="navbar">
            <li><a href="{% url 'index' %}" class="active">Trang chủ</a></li>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
        
        <div class="icons">
            <a href="#"><i class="ri-search-line"></i></a>
            <a href="#"><i class="ri-user-line"></i></a>
            <a href="#"><i class="ri-shopping-cart-line"></i></a>
            {% comment %} <div class="bx bx-menu" id="menu-icon"></div> {% endcomment %}
        </div>

    </header>

    <!-- home section design -->
    <section class="home-index">
        <!-- <img class="slide" src="{% static 'interface/images/bg01.png' %}"> -->
        <img class="slide" src="{%static 'interface/images/bg02.png' %}"> 
    </section>

    <!-- feature section design -->
    <section class="feature">
        <div class="middle-text">
            <h2>Discover more <span>Good things.</span></h2>
        </div>

        <div class="feature-content">
            <div class="row">
                <div class="main-row">
                    <div class="row-text">
                        <h6>Explore new arrivals</h6>
                        <h3>Give the gift <br> of choice</h3>
                        <a href="#" class="row-btn">Show me all</a>
                    </div>
                    <div class="row-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPDuAEeQAMv_1YaNugodEDSxkUnoVu2Vy3A&usqp=CAU" alt="Blue shirt"></div>
                </div>
            </div>
            <div class="row row2">
                <div class="main-row">
                    <div class="row-text">
                        <h6>Explore new arrivals</h6>
                        <h3>Give the gift <br> of choice</h3>
                        <a href="#" class="row-btn">Show me all</a>
                    </div>
                    <div class="row-img"><img src="https://www.rei.com/media/product/163975" alt="White shirt"></div>
                </div>
            </div>
            <div class="row row3">
                <div class="main-row">
                    <div class="row-text">
                        <h6>Explore new arrivals</h6>
                        <h3>Give the gift <br> of choice</h3>
                        <a href="#" class="row-btn">Show me all</a>
                    </div>
                    <div class="row-img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO0HxF2yhPRst9Ge6eiD65F9_kSMX76dG2bQ&usqp=CAU" alt="White shirt"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- product section design -->
    <section class="product">
        <div class="middle-text">
            <h2>New Arrivals. <span>Best sellers of the month</span></h2>
        </div>

        <div class="product-content">
            {% for product in products %}
            <div class="box">
                <div class="box-img">
                    <a style="height: 100%; width: 100%;" href="{% url 'product_view' product.pk %}"><img src="{{product.image_url}}" alt=""></a>
                </div>
                <a href="{% url 'product_view' product.pk %}"><h3>{{product.name}}</h3></a>
                <h4>{{product.description}}</h4>
                <div class="inbox">
                    <div>
                        <a href="{% url 'product_view' product.pk %}" class="price">{{product.price}}VND</a>
                    </div>
                <div class="heart">
                        <i class="ri-heart-line"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </section>
    <!-- custom js link -->
    <script type="text/javascript" src="{% static 'interface/scripts.js'%}"></script>
</body>
</html>