{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'interface/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:wght@500;900&display=swap" rel="stylesheet">
    {% block meta %}{% endblock %}
</head>
<body>
    <!-- header section design -->
    <header>
        <a href="{% url 'index' %}"><img src="{% static 'interface/images/logo.png' %}" class="logo" alt=""></a>
        <ul class="navbar">
            <li><a href="{% url 'index' %}" id="navbar-index">Trang chủ</a></li>
            <li><a href="{% url 'about_us' %}" id="navbar-about-us">Về chúng tôi</a></li>
            <li><a href="{% url 'blog' %}" id="navbar-blog">Blog</a></li>
        </ul>
        
        <div class="icons">
            
            <a href="#"><i class="ri-user-line"></i></a>
            <a href="#"><i class="ri-shopping-cart-line"></i></a>
            {% comment %} {% if user.is_authenticated %}
            <a href="#"><i class="ri-logout-box-line"></i></a>
            {% else %}
            <a href="#"><i class="ri-login-box-line"></i></a>
            {% endif %} {% endcomment %}
            
            {% comment %} <div class="bx bx-menu" id="menu-icon"></div> {% endcomment %}
        </div>

    </header>
    {% block body %}{% endblock %}
    <!-- custom js link -->
    <script type="text/javascript" src="{% static 'interface/scripts.js'%}"></script>
</body>
</html>