{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <meta name="robots" content="index, follow">
    <!--Đây là đường link gốc của chính website này.  -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="Brownish Clothing - Thời trang bền vững thân thiện môi trường">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="author" content="Brownish">
    <meta name="twitter:creator" content="@brownishvn">
	<meta name="twitter:site" content="@brownishvn">
    <link rel="stylesheet" href="{% static 'interface/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:wght@500;900&display=swap" rel="stylesheet">
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% endcomment %}
    {% block meta %}{% endblock %}
</head>
<body>
    <!-- header section design -->
    <header>
        <a id="header-logo" href="{% url 'index' %}"><img src="{% static 'interface/images/gameon_logo.png' %}" class="logo" alt=""></a>
        <ul class="navbar">
            <li><a href="{% url 'index' %}" id="navbar-index">Trang chủ</a></li>
            <li><a href="{% url 'about_us' %}" id="navbar-about-us">Về chúng tôi</a></li>
            <li><a href="{% url 'blog' %}" id="navbar-blog">Blog</a></li>
        </ul>
        
        <div class="icons">
            
            <a href="#"><i class="ri-user-line"></i></a>
            <a href="{% url 'shopping_cart' %}"><i class="ri-shopping-cart-line"></i></a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><i class="ri-logout-box-line"></i></a>
            {% else %}
            <a href="{% url 'login' %}"><i class="ri-login-box-line"></i></a>
            {% endif %}
            
            {% comment %} <div class="bx bx-menu" id="menu-icon"></div> {% endcomment %}
        </div>

    </header>

    <footer>
        <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <img src="{% static 'interface/images/gameon_logo.png' %}" class="logo" alt="" width="200" height="200">
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Liên hệ với chúng tôi</h3>
                        <ul>
                            <li><a href="#">Hotline 24/7: 1900-1508 </a></li>
                            <li style="font-size: 10px;">(Cước di động: 1000 đồng/phút)</a></li>
                            <li style="font-size: 14px;"><a href="#">Hỗ trợ khách hàng: hotro@st.uel.edu.vn</a></li>
                            <li><a href="#">Hướng dẫn đặt hàng</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Cam kết bảo mật</a></li>
                            
                        </ul>
                    </div>
                    
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Trải nghiệm GAME ON </h3>
                        <ul>
                            <li><a href="#">Về Trang chủ</a></li>
                            <li><a href="#">Tất cả sản phẩm</a></li>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <h3>Theo dõi chúng tôi tại </h3>
                        <a href="#"><i class="icon ion-social-facebook"></i></a>
                        <a href="#"><i class="icon ion-social-twitter"></i></a>
                        <a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">GAME ON © 2024</p>
                    </div>
                </div>
            </div>
        </footer>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    {% block body %}{% endblock %}
    <!-- custom js link -->
    <script type="text/javascript" src="{% static 'interface/scripts.js'%}"></script>
    <script src="https://kit.fontawesome.com/ac094792cb.js" crossorigin="anonymous"></script>
    {% comment %} <script src="https://kit.fontawesome.com/ac094792cb.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> {% endcomment %}
</body>
</html>