{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Dưới 160 từ, tóm tắt nội dung trang, sử dụng từ khóa chính -->
    <meta name="description" content="{{blog.description}}">
    <meta name="robots" content="index, follow">
    <title>{{product.name}} - Brownish Clothing</title>
    <!--Đây là đường link gốc của chính website này.  -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="Brownish Clothing - Thời trang bền vững thân thiện môi trường">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{product.name}} - Brownish Clothing">
    <meta property="og:description" content="{{product.description}}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="article:published_time" content="2023-12-06T08:06:00+00:00">
    <meta property="article:modified_time" content="2023-12-06T08:06:00+00:00">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{product.name}} - Brownish Clothing">
    <meta name="twitter:description" content="{{product.description}}">
    <meta name="author" content="Brownish">
    <meta name="twitter:creator" content="@brownishvn">
	<meta name="twitter:site" content="@brownishvn">
    <link rel="stylesheet" href="{% static 'interface/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet"  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:wght@500;900&display=swap" rel="stylesheet">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VPH3VWS6YT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VPH3VWS6YT');
</script>
<body>
    <!-- header section design -->
    <header>
        <a href="{% url 'index' %}"><img src="{% static 'interface/images/logo.png' %}" class="logo" alt=""></a>
        <ul class="navbar">
            <li><a href="{% url 'index' %}">Trang chủ</a></li>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
        
        <div class="icons">
            <a href="#"><i class="ri-search-line"></i></a>
            <a href="#"><i class="ri-user-line"></i></a>
            <a href="#"><i class="ri-shopping-cart-line"></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>

    </header>

    <!-- home section design -->
    <section class="view_product">
        <div class="view_product_img"><img src={{product.image_url}} alt="Home Image"></div>
        <div class="view_product_info">
            <h4>{{product.name}}</h4>
            <h3>{{product.price}}VND</h3>
            <span>{{product.category}}</span>/<span>{{product.subcategory}}</span>
            <p>{{product.description}}</p>
            <button type="button">Thêm vào giỏ hàng</button>
        </div>
    </section>

    <!-- feature section design -->
    <section>
    
    </section>
    {% comment %} <img src="{% static 'interface/images/logo.png' %}"> {% endcomment %}
    {% comment %} <img src="../images/logo.png"> {% endcomment %}
    
    <!-- custom js link -->
    <script type="text/javascript" src="{% static 'interface/scripts.js'%}"></script>
</body>
</html>