{% extends "interface/layout.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{user.username}}: Giỏ hàng - Brownish Clothing{% endblock title %}
{% block body %}
    <div id="page-type" style="display:none"></div>
    {% if not items %}
    
    <h2>Giỏ hàng hiện tại của bạn đang trống</h2>
    {% else %}
    <section id="shopping_cart_section">
    {% for item in items %}
        <div class="cart_item">
            <div class="cart_item_image">
                <img src="{{item.image_url}}">
            </div>
            <div class="cart_item_info">
                <a href="{% url 'product_view' item.pk %}"><h4>{{item.name}}</h4></a>
                <p><span class="item_price">{{item.price}}</span>VNĐ</p>
            </div>
        </div>
    {% endfor %}
    <div id="sum_price"><h3>Tổng giá trị giỏ hàng: <span id="total_price"></span><span>VNĐ</span></h3></div>
    </section>
    {% endif%}
{% endblock%}
